* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #86c8f3;
}

.c-lang {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 7%;
}
